
@{
    ViewData["Title"] = "Lançamentos";
}

Novo lançamento
<div class="img-botao-add-lancamento">
    <a asp-action="Cadastro">
        <img src="~/images/plus.png" />
    </a>
</div>

<div>
    Acompanhe seus últimos lançamentos ou adicione mais clicando no botão acima.
</div>

