@{
    ViewData["Title"] = "Erro";
    Layout = "~/Views/Shared/_LayoutCadastro.cshtml";
}

<div class="row" style="margin-left: 25%; margin-top: 10%;">
    <div class="col-md-8">
        <h1 class="text-white" style="font-size: 40px; font-family: Candara;"><b>ERRO</b></h1>
        <h2>Algo deu muito errado. Tente novamente...</h2>
    </div>
</div>

