@{
    ViewData["Title"] = "Controle de Gastos";
}

<div class="container-login100">
    <div class="wrap-login100">
        <div class="container-cadastro-form-btn">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="~/images/piggy-bank.png" />
            </div>
            <div class="text-center p-t-12">
                <span class="txt3">
                    Ainda não possui uma conta? Que lerdeza...
                    Faça o cadastro agora mesmo e organize seus
                    gastos mensais sem encostar na calculadora!
                    É GRÁTIS!
                </span>
            </div>
            <button class="cadastro-form-btn">
                Cadastre-se
            </button>
        </div>

        <div class="container-line">
            <div class="line"></div><br />
            <div class="txt3" style="margin-left:-10px;">OU</div><br />
            <div class="line"></div>
        </div>

        <form class="login100-form validate-form">
            <span sclass="login100-form-title">
                Já possui cadastro? Faça seu login:
            </span>

            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <input class="input100" type="text" name="email" placeholder="Usuário/Email">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Password is required">
                <input class="input100" type="password" name="pass" placeholder="Senha">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Login
                </button>
            </div>


            @*<div class="text-center p-t-12">
                <span class="txt1">
                    Forgot
                </span>
                <a class="txt2" href="#">
                    Username / Password?
                </a>
            </div>*@

            @*<div class="text-center p-t-136">
                <a class="txt2" href="#">
                    Create your Account
                    <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                </a>
            </div>*@
        </form>
    </div>
</div>