@model  Poupanca
@{
    ViewData["Title"] = "CdG - Depósito na Poupança";
}

<div class="row">
    <div class="col-md-8">
        <div class="card" style="width: 70%;">
            <div class="card-header">
                <h5 class="card-title">Cadastro de Depósito na Poupança</h5>
                <p class="text-info"><b>Você precisa ter um cartão cadastrado para escolher o banco em que o depósito será feito.</b></p>
            </div>
            <div class="card-body" style="width: 100%; margin-left: 15%;">
                <form asp-action="Cadastrar" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-8 pr-1">
                            <div class="form-group">
                                <label>Banco</label>
                                <select asp-items="@ViewBag.Cartoes"
                                        class="form-control" name="drpCartoes">
                                    <option> -- SELECIONE -- </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 pr-1">
                            <div class="form-group">
                                <label>Valor</label>
                                <input type="text" class="form-control" asp-for="Valor" placeholder="Valor" />
                                <span asp-validation-for="Valor" class="text-primary"></span>
                            </div>
                        </div>
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label>Data do Depósito</label>
                                <input class="form-control" asp-for="DataDeposito" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-default btn-round" asp-action="Index">Voltar</button>
                            <button type="submit" class="btn btn-success btn-round" value="Cadastrar">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




