@model Usuario
@{
    ViewData["Title"] = "Cadastro de Usuário";
    Layout = "~/Views/Shared/_LayoutCadastro.cshtml";
}

<div class="row" style="padding-top:100px; padding-left:300px;margin-right: 0px; margin-left: 0px;">
    <div class="col-md-8">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Cadastro de Usuário</h5>
            </div>
            <div class="card-body">
                <form asp-action="Cadastrar" method="post">
                    <div class="row">
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" class="form-control" asp-for="Nome" placeholder="Nome"/>
                            </div>
                        </div>
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label>Sobrenome</label>
                                <input type="text" class="form-control" asp-for="Sobrenome" placeholder="Sobrenome"/>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label>Salário</label>
                                <input type="text" class="form-control" asp-for="Salario" placeholder="Salário" />
                            </div>
                        </div>
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label>CPF</label>
                                <input type="text" class="form-control" asp-for="Cpf" placeholder="CPF" />
                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label for="exampleInputEmail1">E-mail</label>
                                <input type="email" class="form-control" asp-for="Email" placeholder="E-mail" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-5 pl-1">
                            <div class="form-group">
                                <label>Login</label>
                                <input type="text" class="form-control" asp-for="Login" placeholder="Login" />
                            </div>
                        </div>
                        <div class="col-md-5 pl-1">
                            <div class="form-group">
                                <label>Senha</label>
                                <input type="text" class="form-control" asp-for="Senha" placeholder="Senha" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round" asp-action="Index">Voltar</button>
                        </div>
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round" value="Cadastrar">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

