@model Usuario
@{
    ViewData["Title"] = "Controle de Gastos";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-login100">
    <div class="texto-index-ola" >
        
        Olá! Boas vindas ao <br />
        CONTROLE DE GASTOS
    </div>
    <div class="wrap-login100">
        <div class="container-cadastro-form-btn">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="~/images/logo_blink.gif" />
            </div>
            <div class="text-center p-t-12">
                <span sclass="login100-form-title">
                    Ainda não possui uma conta? Que lerdeza...
                    Faça o cadastro agora mesmo e organize seus
                    gastos mensais sem encostar na calculadora!
                    É GRÁTIS!
                </span>
            </div>
            <a class="cadastro-form-btn" asp-action="Cadastro">
                Cadastre-se
            </a>
        </div>

        <div class="container-line">
            <div class="line"></div><br />
            <div sclass="login100-form-title" style="margin-left:-10px;">OU</div><br />
            <div class="line"></div>
        </div>

        <form class="login100-form validate-form" asp-action="Logar" method="post">
            <span sclass="login100-form-title">
                Já possui cadastro? Faça seu login:
            </span>

            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" asp-for="Login" placeholder="Usuário/Email" required/>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>

            <div class="wrap-input100 validate-input">
                <input class="input100" type="password" asp-for="Senha" placeholder="Senha" required/>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn" value="Logar">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>